.container {
    margin: 5em 2em;
}

.switch {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.buttonManageCategory {
  position: absolute;
}

.dateIntervalText {
  margin: 1em;
}

@media all and (min-width: 700px) {

/* FILTER */

.switch {
  flex-direction: row;
  margin-left: 3em;
}

/* by date */
.filterByDate {
  display: flex;
  flex-direction: row;
  margin-left: 3em;
}

/* by category */

.textFieldCategory {
  width: 10em;
}

.buttonManageCategory {
  
}

}