.container {
    margin: 5em 2em;
}

.buttonManageCategory {
  margin: 1em!important
}

.filter {
  display: flex;
  flex-direction: column;
}

.buttonAddOperation {
  margin-top: 2em;
}

@media all and (min-width: 700px) {

.filter {
  display: flex;
  flex-direction: row;
}

}