.container {
    margin: 10em 2em;
}

.card {
  margin-bottom: 1em;
  position: relative;
}

.clearButton {
  position: absolute!important;
  right: 0;
  top: 0;
}

.cardContent {
 text-align: center;
}

/* FILTER */

.switch {
  display: flex;
}

/* by date */
.filterByDate {
  display: flex;
  flex-direction: row;
  margin-left: 3em;
}

.dateIntervalText {
  margin: 1em;
}

/* by category */
