.container {
  background-image: url("./fond.jpg");
  height: 100vh;
}

.appBar {
  border: 1px solid black;
}

.formRegister {
  margin: 3em;
  height: 100%;
}

.formConnection {
  margin: 9em 3em;
  height: 100%;
}

.connectionError {
  padding: 1em 0; 
  font-size: 0.8em;
  color: red;
}