.container {
  background-image: url("./fond.jpg");
  height: 100vh;
}

.test {
  border: 1px solid black;
 background-color: white;
}

.formRegister {
  margin: 3em;
  height: 100%;
}

.formConnection {
  margin: 9em 3em;
  height: 100%;
}