.container {
  border: 2px solid black;
  height: 100%;
}

.test {
  background-color:white;
}

.formRegister {
  margin: 3em;
  height: 100%;
}

.formConnection {
  margin: 6em 3em;
  height: 100%;
}