/* CATEGORY */

.textFieldCategory {
  width: 12em;
}

/* DATE */

.dateIntervalText {
  margin: 1em!important
}

@media all and (min-width: 700px) {

  .filterByDate {
    display: flex;
    flex-direction: row;
  }
}